@{
    ViewData["Title"] = "About Us";
}

<h1>Testing School Management Software</h1>
    <p class="lead">This is a .NET project for practice. It is a test of learned .NET skills from a Udemy Course.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Contact for more info</a>
    </p>